/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/sass/colors.cjs
 */

$color-primary: hsl(17,35%,51%) !default;
/* 🚫 Contrast fails against primary */
$color-on-primary: hsl(40,54%,85%) !default;
$color-ivory: hsl(37,43%,87%) !default;
/* 🚫 Contrast fails against ivory */
$color-on-ivory: hsl(17,35%,51%) !default;
$color-green: hsl(164,92%,19%) !default;
$color-on-green: hsl(0, 0%, 100%) !default;
$color-green-50: hsla(164,92%,19%,0.5) !default;
$color-on-green-50: hsl(0, 0%, 100%) !default;
$color-medium-green: hsl(167,100%,15%) !default;
$color-on-medium-green: hsl(0, 0%, 100%) !default;
$color-medium-green-50: hsla(167,100%,15%,0.5) !default;
$color-on-medium-green-50: hsl(0, 0%, 100%) !default;
$color-dark-green: hsl(164,43%,10%) !default;
$color-on-dark-green: hsl(0, 0%, 100%) !default;
$color-brown: hsl(10,27%,25%) !default;
$color-on-brown: hsl(0, 0%, 100%) !default;
$color-error: hsl(350, 75%, 50%) !default;
$color-on-error: hsl(352.5, 100%, 98.4%) !default;
$color-text: hsl(40,54%,85%) !default;
$color-on-text: hsl(41.10000000000002, 20.7%, 36.1%) !default;

$base-color-tokens: ("primary", "ivory", "green", "green-50", "medium-green", "medium-green-50", "dark-green", "brown", "error", "text");

$color-tokens: (
  "color-primary": $color-primary,
  /* 🚫 Contrast fails against primary */
"color-on-primary": $color-on-primary,
  "color-ivory": $color-ivory,
  /* 🚫 Contrast fails against ivory */
"color-on-ivory": $color-on-ivory,
  "color-green": $color-green,
  "color-on-green": $color-on-green,
  "color-green-50": $color-green-50,
  "color-on-green-50": $color-on-green-50,
  "color-medium-green": $color-medium-green,
  "color-on-medium-green": $color-on-medium-green,
  "color-medium-green-50": $color-medium-green-50,
  "color-on-medium-green-50": $color-on-medium-green-50,
  "color-dark-green": $color-dark-green,
  "color-on-dark-green": $color-on-dark-green,
  "color-brown": $color-brown,
  "color-on-brown": $color-on-brown,
  "color-error": $color-error,
  "color-on-error": $color-on-error,
  "color-text": $color-text,
  "color-on-text": $color-on-text
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  /* 🚫 Contrast fails against primary */
--color-on-primary: #{$color-on-primary};
  --color-ivory: #{$color-ivory};
  /* 🚫 Contrast fails against ivory */
--color-on-ivory: #{$color-on-ivory};
  --color-green: #{$color-green};
  --color-on-green: #{$color-on-green};
  --color-green-50: #{$color-green-50};
  --color-on-green-50: #{$color-on-green-50};
  --color-medium-green: #{$color-medium-green};
  --color-on-medium-green: #{$color-on-medium-green};
  --color-medium-green-50: #{$color-medium-green-50};
  --color-on-medium-green-50: #{$color-on-medium-green-50};
  --color-dark-green: #{$color-dark-green};
  --color-on-dark-green: #{$color-on-dark-green};
  --color-brown: #{$color-brown};
  --color-on-brown: #{$color-on-brown};
  --color-error: #{$color-error};
  --color-on-error: #{$color-on-error};
  --color-text: #{$color-text};
  --color-on-text: #{$color-on-text};
}