.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-medium-green-50);
  justify-content: center;
  padding: 2rem;
}
.card {
  flex-basis: 20rem;
  padding: 1rem;
  &__person {
    grid-template-columns: 1fr max-content;
    flex-basis: 30rem;
    margin: 1rem;
    h3 {
      margin-bottom: 0;
    }
    img {
      width:10rem;
    }
  }
  &.ivory {
    color: var(--color-medium-green);
    background-color: var(--color-ivory);
  }
  &.green {
    color: var(--color-ivory);
    background-color: var(--color-medium-green);
  }
  .card-title {
    border-bottom: 1px solid var(--color-primary);
  }
  li + li {
    margin-top: 0.5rem;
  }
}