.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-medium-green-50);
  @media screen and (min-width: 400px) {

    justify-content: center;
    padding: 2rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 400px) {
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  flex-basis: 20rem;
  padding: 1rem;
  &__person {
    flex-direction: column-reverse;
    grid-template-columns: 1fr max-content;
    flex-basis: 30rem;
    margin: 1rem;
    h3 {
      margin-bottom: 0;
    }
    img {
      width:10rem;
    }
    .image-wrapper {
      display: flex;
      justify-content: center;
    }
    .card-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    @media screen and (min-width: 400px) {

    }
  }
  &.ivory {
    color: var(--color-medium-green);
    background-color: var(--color-ivory);
  }
  &.green {
    color: var(--color-ivory);
    background-color: var(--color-medium-green);
  }
  .card-title {
    border-bottom: 1px solid var(--color-primary);
  }
  li + li {
    margin-top: 0.5rem;
  }
  @media screen and (min-width: 400px) {

    flex-basis: 20rem;
    padding: 2rem;
    &__person {
      flex-basis: 30rem;
      margin: 1rem;
    }
  }
}